<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diamond">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WeaponInfo" android:hardwareAccelerated="true"></activity>
        <activity android:name=".CharInfo" android:hardwareAccelerated="true"/>
        <activity android:name=".DiamondInfo" android:hardwareAccelerated="true"/>
        <activity android:name=".TipsInformation" android:hardwareAccelerated="true"/>
        <activity android:name=".Diamond" android:hardwareAccelerated="true"/>
        <activity android:name=".Vehicles" android:hardwareAccelerated="true"/>
        <activity android:name=".Characters" android:hardwareAccelerated="true"/>
        <activity android:name=".Weapons" android:hardwareAccelerated="true"/>
        <activity android:name=".TipsTricks" android:hardwareAccelerated="true"/>
        <activity android:name=".MainHomePage" android:hardwareAccelerated="true"/>
        <activity android:name=".HomePage" android:hardwareAccelerated="true"/>
        <activity android:name=".Options" android:hardwareAccelerated="true"/>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7287613388864066~4994805950" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>